<html>
  <body>
    <form method="post" action="/new">
      <h1>New Message</h1>
      <label for="author"
        >Author: <input id="author" type="text" name="author"
      /></label>
      <label for="message"
        >Message: <input type="text" id="message" name="message"
      /></label>
      <button>Submit</button>
    </form>
  </body>
</html>
